
.inner {
/*   position:fixed; top:0; bottom:0; left:0; right:0*/
           fill: blue;

    
}   

#viz{
    width: 100%
        background-color:red;
}

.card{
    margin-left: 75px;
}

/*
.container-fluid{
    background-color: red;
}
*/

.button {
    position: absolute;
    top: 50%;
}

#my_dataviz{
    margin-top: 30px;
}

.colored{
    color: aliceblue!important;
}
